.alert-box {
    position: absolute;

    left: 0;
    top: 0;

    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    .content {
        position: relative;
        width: 100%;

        z-index: 4;
        padding: 50px 30px;

        background-color: #f7f7f7;
        box-shadow: 0 0 10px #333333;

        border-radius: 10px;

        .close {
            position: absolute;
            right: 15px;
            top: 10px;

            font-size: 14px;
            color: #b3b3b3;
        }

        .title {
            font-size: 20px;
            margin-bottom: 10px;
        }

        .message {
            color: #333333;
        }
    }

    .backdrop {
        position: absolute;

        z-index: 3;

        width: 100%;
        height: 100%;

        background-color: #000000a6;
    }
}
