.header {
    padding: 60px 0;
    text-align: center;

    .title {
        color: #424242;

        font-size: 40px;
        line-height: 33px;
    }

    .subtitle {
        color: #7c7c7c;

        font-size: 20px;
    }
}
