<div @verticalSlide class="wisher-form" *ngIf="status">
    <a class="menu-trigger" (click)="close()">
        <i class="fa fa-chevron-up"></i>
    </a>

    <app-header title="novo wish" subtitle="pra lista"></app-header>

    <form [formGroup]="wisherForm" (ngSubmit)="submit()" novalidate>
        <input type="url" formControlName="url" placeholder="Cole o link do seu favorito aqui">
        <input type="text" formControlName="title" placeholder="Título">
        <input type="text" formControlName="description" placeholder="Descrição (Opcional)">
        <select formControlName="category">
            <option value="0" disabled>Selecione uma categoria</option>
            <option value="1">Adicionar uma nova categoria</option>
            <option [value]="category.identifier" *ngFor="let category of wisherService.categoryList">{{ category.title }}</option>
        </select>
        <input #newCategoryInput *ngIf="wisherForm.value.category === '1'" type="text" formControlName="newCategory" placeholder="Nome da nova Categoria">

        <button type="submit">ADICIONAR</button>
    </form>
</div>