.wisher-form {
    position: absolute;
    left: 0;
    top: 0;

    width: 100vw;
    height: 300vh;

    background-color: #ececec;

    .menu-trigger {
        position: absolute;
        left: 30px;
        top: 25px;

        i {
            color: #a5a5a5;
            font-size: 5vw;
        }
    }

    .header {
        padding: 100px 0;
        text-align: center;
        .title {
            color: #424242;

            font-size: 40px;
            line-height: 33px;
        }

        .subtitle {
            color: #7c7c7c;

            font-size: 20px;
        }
    }

    form {
        display: flex;
        flex-direction: column;

        padding: 15px;

        input {
            padding: 15px;
            margin-bottom: 15px;

            border: 0;

            color: #333333;

            outline: none;
        }

        button {
            padding: 15px;
            color: #ffffff;
            background-color: #444444;
            border: 1px solid #c4c4c4;
            outline: none;

            &:active {
                color: #a0a0a0;
                background-color: #fafafa;
            }
        }
    }
}
